:root {
  --bg-primary: #486EB5;
  --bg-secondary: #b7cbf1;
  --text-light: #a6c6e2;
  --text-dark: #1d3f80;
  --font-main: Arial, sans-serif;
  --font-special: 'Sincerely', Arial, sans-serif;
}

@font-face {
  font-family: 'Sincerely';
  src: url('../assets/fonts/subset-SincerelyRegular.woff') format('woff'),
    url('../assets/fonts/subset-SincerelyRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bg-primary);
  font-family: var(--font-main);
  text-align: center;
  padding: 0;
  margin: 0;
}

img {
  width: 200px;
  height: auto;
  border-radius: 100px;
}

.name {
  color: var(--text-light);
  font-size: 150px;
  font-weight: 500;
  margin: 0;
  font-family: var(--font-special);
}

.profession {
  color: var(--text-light);
  font-size: 22px;
  font-weight: 600;
  margin: 0.5rem;
  line-height: 1.5;
}

.crp-text {
  font-size: 18px;
  opacity: 0.9;
  font-weight: 400;
}

.header {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.content {
  padding: 1rem 3rem;
  background-color: var(--bg-secondary);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  max-width: 600px;
  width: 100%;
  color: var(--text-dark);
  text-align: center;
  margin: auto;
}

.social,
.social a {
  display: flex;
  margin: 0.3rem 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-light);
  font-weight: 800;
  transition: 0.3s;
}

.whats svg,
.insta svg {
  margin-right: 8px;
}

.whats,
.insta {
  margin: 0 15px;
  transition: transform 0.3s;
}

.whats:hover,
.insta:hover {
  transform: scale(1.08);
}

.mapa-container {
  max-width: 600px;
  width: 100%;
  margin: 2rem auto;
}

.mapa-titulo {
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.mapa-iframe {
  border: 0;
  border-radius: 12px;
  width: 100%;
}

.footer {
  color: var(--text-light);
  font-size: 16px;
  font-weight: 400;
  padding: 1rem 0;
}

footer {
  color: var(--text-dark);
}

@media (max-width: 768px) {
  img {
    width: 100px;
    border-radius: 50px;
  }

  .name {
    font-size: 70px;
  }

  .profession {
    font-size: 18px;
    margin: 0.5rem;
    line-height: 1.4;
  }

  .social {
    flex-direction: column;
  }

  .whats,
  .insta {
    margin: 5px 0;
  }

  .header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .content {
    padding: 1rem;
  }

  .mapa-container {
    margin: 1.5rem auto;
  }

  .mapa-titulo {
    font-size: 1rem;
  }

  .mapa-iframe {
    height: 300px;
  }
}