@font-face {
  font-family: 'Sincerely';
  font-family: 'Sincerely';
  src: url('../assets/fonts/subset-SincerelyRegular.woff') format('woff'),
       url('../assets/fonts/subset-SincerelyRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #486EB5;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
img {
  width: 200px;
  height: auto;
  border-radius: 100px; /* Circular image */
}
.name {
  color: #a6c6e2;
  font-size: 150px;
  font-weight: 500;  
  margin: 0;
  font-family: 'Sincerely', Arial, sans-serif;
}
.profession, .license{
  color: #a6c6e2;
  font-size: 22px;
  font-weight: 600;  
  margin: 0.5rem;
}
.social, .social a {
  display: flex;
  margin: 0.3rem 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #a6c6e2;
  font-weight: 800;
  transition: 0.3s;
}
.whats svg, .insta svg {
  margin-right: 8px; /* Space between the icon and the text */
}
.whats, .insta {
  margin: 0 15px;
  transition: transform 0.3s; /* Transition for scaling */
}
.whats:hover, .insta:hover {
  transform: scale(1.08); 
}
#whats-icon, #insta-icon {
  height: 25px;
  width: auto;
  margin: 0 6px;
}
.header {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.content {
  padding: 1rem 3rem;
  background-color: #b7cbf1;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: top;
}
.introduction {
  max-width: 600px;
  width: 100%;
  text-align: left;
  color: #1d3f80;
  text-align: center;
}
footer {
  color: #1d3f80;
}
@media (max-width: 768px) {
  img {
    width: 100px;
    border-radius: 50px;
  }
  .name {
    font-size: 70px;
  }
  .profession, .license {
    font-size: 16px;
    margin: 0.25rem;
  }
  .social{
    flex-direction: column;
  }
  .whats, .insta {
    margin: 0;
  }
  .header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .content {
    padding: 0.1rem 0,3rem;
    min-height: auto;
  }
  .introduction {
    padding-left: 0;
  }
}